profiles {
	standard {
		executor.name = 'local'
		process {
			withName: build_mode {
				container = 'athbaltzis/spladder:v0.1'
			}
			withName: test_mode {
				cpus = 4
				container = 'athbaltzis/spladder:v0.1'
			}
			withName: run_rmats {
				cpus = 4
				container = 'athbaltzis/rmats:v0.1'
			}
		}
		docker.enabled = true
		trace {
				enabled = true
    			raw = true
    			fields = 'task_id, hash,native_id,name,status,exit,realtime,%cpu,rss,peak_rss,vmem,peak_vmem,rchar,wchar'
		}
	}

	cluster {
		executor {
			name = 'crg'
			submitRateLimit='5 sec'
		}
		process {
			withName: build_mode {
				queue = 'long-sl7,cn-el7'
				container = 'athbaltzis/spladder:v0.1'
			}
			withName: test_mode {
				queue = 'long-sl7,cn-el7'
				cpus = 4
				container = 'athbaltzis/spladder:v0.1'
			}
			withName: run_rmats {
				queue = 'long-sl7,cn-el7'
				cpus = 4
				container = 'athbaltzis/rmats:v0.1'
			}
		}
		singularity {
        	enabled = true
        	autoMounts = true
		}
		trace {
				enabled = true
    			raw = true
    			fields = 'task_id, hash,native_id,name,status,exit,realtime,%cpu,rss,peak_rss,vmem,peak_vmem,rchar,wchar'
		}
	}
}

